version: '3.8'
services:
  backend:
    build: ./backend
    volumes:
      - ./backend:/app
    ports:
    - "5050:8000"


  ui:
    build: ./ui
    ports:
      - "5174:5174"   # ⬅️ Add this or update from 5173
    stdin_open: true
    tty: true
    depends_on:
      - backend